<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>리뷰 작성</title>
    <link rel="stylesheet" href="../css/review.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="container">
    <form role="form" id="reviewForm" action="/reviews/new" th:object="${reviewForm}"
          method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" id="title" th:field="*{title}" class="form-control" th:class="${#fields.hasErrors('title')} ? 'form-control fieldError' : 'form-control'">
        </div>

        <div class="form-group">
            <label for="content">글 작성</label>
            <input type="text" id="content" th:field="*{content}" class="form-control" th:class="${#fields.hasErrors('content')} ? 'form-control fieldError' : 'form-control'">
        </div>

        <div class="form-group">
            <label id="photoFiles">사진 첨부</label>
            <input type="file" name="photoFiles" class="form-control" multiple="true">
        </div>

        <button type="submit" class="btn btn-primary">작성완료</button>
    </form>
</div>

<script>
    $(document).ready(function() {
        $('#reviewForm').submit(function(e) {
            e.preventDefault();
            var formData = new FormData(this);
            $.ajax({
                url: '/reviews/new',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    alert('리뷰가 성공적으로 제출되었습니다.');
                    window.location.href = "/mypage";
                },
                error: function(xhr, status, error) {
                    alert('리뷰 제출에 실패했습니다.');
                }
            });
        });
    });
</script>

</body>
</html>
